<%- include("./partials/head.ejs") %>
<link rel="stylesheet" href="css/home.css">
<script src="scripts/index.js"></script>
<%- include("./partials/header.ejs") %>
<main>

</main>

<%- include("./partials/footer.ejs") %> 