main{
    display:flex;
    align-self: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2vw;
    margin-top: 4vw;
}
main a{
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex: 1 1 calc(33.333% - 2vw)
}
main a img{
    width: 20vw;
    height: auto;
}
main a h2{
    text-align: center;
    font-family: var(--primaryFont);
    font-weight: 400;
    font-size: 3vw;
    color: var(--primaryColor);
}
:root {
  --primaryColor: #4a376d;
  --primaryFont: "Jomhuria", serif;
} 