body,
html {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}
header {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  background: var(--primaryColor);
  width: 100%;
}
header section {
  margin: 0.5vw;
  display: flex;
  flex: 1;
  align-items: baseline;
  align-self: baseline;
}
header section img {
  height: auto;
  width: 8vw;
}
header h1 {
  text-align: center;
  font-family: var(--primaryFont);
  font-weight: 400;
  font-size: 4.5vw;
  color: white;
  padding: 0;
  margin: 0;
}
header nav {
  display: flex;
  flex: 1;
  justify-content: end;
  padding-right: 1vw;
  gap: 1vw;
}
header nav a{
    text-decoration: none;
    background: white;
    border-radius: 0.4vw;
    font-family: var(--primaryFont);
    font-weight: 400;
    font-size: 2vw;
    color: var(--primaryColor);
    padding: 0.6vw;
}
:root {
  --primaryColor: #4a376d;
  --primaryFont: "Jomhuria", serif;
} 
